ARZi/logs/*.log
ARZi/static/uploads
ARZi/uploads
ARZi/*.db
ARZi/uploads/**/*
.arzi_secret_key
.data
.git
.codecov.yml
.dockerignore
.github
.gitignore
.prettierignore
.travis.yml
**/node_modules
**/*.pyc
**/__pycache__
.venv*
venv*